/* tekst */

.ingewikkeldeStijling {
  margin-left: 11em;
}

/* New in Section 2 */
section:nth-of-type(2) {
  vertical-align: top;
}

section:nth-of-type(2) h3 {
  font-size: 1em;
  margin-bottom: 0;
}

section:nth-of-type(2) p {
  margin-bottom: 0;
}

section:nth-of-type(2) li {
  display: flex;
  flex-direction: column;
}

section:nth-of-type(2) li a {
  order: -100;
}

section:nth-of-type(2) img {
  width: 15em;
  height: 20em;
}

/* Dubbele artiekel Section 3 */
section:nth-of-type(3) {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section:nth-of-type(3) article {
  margin: 1em;
}

section:nth-of-type(3) article h3 {
  margin-bottom: 0;
  font-size: 1.25em;
}

section:nth-of-type(3) article p {
  margin-top: 0;
  color:var(--colorTekstArticleP);
}


/* weekly inspiration Section 4 */
section:nth-of-type(4) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 32em;
}

section:nth-of-type(4) img {
  width: 30em;
  height: 100%;
  margin-right: 2em;
  object-fit: cover;
}

section:nth-of-type(4) ul {
  overflow-y: scroll;
  max-width: 30em;
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  list-style: none;

}
section:nth-of-type(4) ul:hover {
opacity: 0.9;

}

section:nth-of-type(4) ul li a {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: max-content max-content max-content 1fr;
  column-gap: 1em;
  padding: 1em;
  text-decoration: none;
}

section:nth-of-type(4) ul li a h3 {
  margin: 0;
  color: var(--colorSectionBlack);
}

section:nth-of-type(4) ul li a p:nth-of-type(1) {
  margin: 0;
  color: var(--colorSectionBlack);
}

section:nth-of-type(4) ul li a p:nth-of-type(2) {
  margin: 0;
  color: var(--colorSectionBlack);
}

section:nth-of-type(4) ul li a::after {
  content: "Bekijk meer";
  display: block;
  background-color: var(--colorBackgroundAfter);
  color: var(--colorAfter);
  margin-top: 1em;
  padding: 1em 3em 1em 3em;
  justify-self: start;
  align-self: start;
}

::after {
  text-align: center;
}

section:nth-of-type(4) ul li a img {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
}


/* Latest features section 5 */
section:nth-of-type(5) {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

section:nth-of-type(5) article img {
  width: 22em;
  justify-content: space-between;
  margin: 0.75em;
}

section:nth-of-type(5) article h3 {
  font-size: 0.95em;
  margin: 0.75em;
  margin-bottom: 0;
}

section:nth-of-type(5) article p {
  font-size: 0.85em;
  margin: 0.75em;
  margin-top: 0;
}

section:nth-of-type(6) ul {
  padding-left: 0.5em;
}

section:nth-of-type(6) ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.75em;
  font-weight: 700;
}

section:nth-of-type(6) ul li img {
  width: 2em;
  margin-right: 1em;
}

article:nth-of-type(1) img {
  width: 30em;
}

article:nth-of-type(2) img {
  width: 30em;
}



/******************************/
/* DE CAROCARROUSEL CONTAINER BEGRIJP IK EEN BEETJE*/
/******************************/

.caroCarrousel {

  /* basis waarden die door de hele carrousel gebruikt worden */

  /* kun je zelf aanpassen */

  --caroCarrouselMainColor: #FFFFFF;
  --caroCarrouselShadeColor: rgba(133, 129, 129, 0.6);

  position: relative;
  outline: none;

}


/************************************/
/* de carrousel elementen container */
.caroCarrousel>ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  /* handmatig scrollen is mogelijk */
  overflow: hidden;

  /* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;

  /* smooth scrollen */
  scroll-behavior: smooth;

  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch;
  /* voor iOS*/
  -ms-overflow-style: none;
  /* voor IE */
  scrollbar-width: none;
  /* voor firefox */
}

.caroCarrousel>ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none;
  /* voor chrome, safari en edge*/
}


/**************************/
/* de carrousel elementen */
.caroCarrousel>ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
  scroll-snap-align: center;
  position: relative;
}


.caroCarrousel>ul li div {
  position: absolute;
  top: 9em;
  right: 5em;
  left: 4em;
}

.caroCarrousel>ul li div h1 {
  font-family: neue-haas-grotesk-display, sans-serif;
  background-color: #FFFFFF;
  font-size: 2.5em;
  margin-bottom: 0;
  padding: 0.2em;
  width: 13em;
}

.caroCarrousel>ul li div p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #ffffff;
  margin-top: 0;
  padding: 0.2em;
  width: 16em;

}

.caroCarrousel>ul li div a {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: #FFFFFF;
  background-color: black;
  margin-top: 6em;
  padding: 0.75em;
}
/* State */
.caroCarrousel>ul li div a:hover {
  opacity: 0.85;
  color: antiquewhite;
}


/**********************************/
/* de carrousel elementen content */

/* de stijlen voor jouw content hier */
.caroCarrousel>ul li>img {
  display: block;
  width: 100%;
  height: 35em;
  object-fit: cover;

}

/****************/
/* DE BOLLETJES */
/****************/

/* de bolletjes container */
.caroCarrousel nav ul {
  position: absolute;
  left: 2em;
  right: 2em;
  bottom: 0;
  margin: 0;
  padding: 0 0 .5em;
  list-style: none;

  display: flex;
  /* 	flex-wrap:wrap; */
  justify-content: center;
  gap: .4em;
}

/* een bolletje container */
.caroCarrousel>nav li {
  flex-basis: 1.2em;
  aspect-ratio: 1/1;
}

/* de bolletjes */
.caroCarrousel>nav a {
  display: block;
  width: 50%;
  height: 50%;

  text-decoration: none;
  color: var(--caroCarrouselMainColor);
  background-color: var(--caroCarrouselShadeColor);
  border-radius: 50%;
  outline: none;


  transition: 0.5s;
}

.caroCarrousel>nav a:hover,
.caroCarrousel>nav a:focus {
  color: black;
}

.caroCarrousel>nav a.current {
  background-color: currentColor;
}

/*CARROUSEL 2 */


body {
  grid-template-columns: minmax(auto, var(--maxWidth));
  justify-content: center;
}

/******************************/
/* DE CAROCARROUSEL CONTAINER */
/******************************/

.caroCarrouselFixedWidthElements {
  /* basis waarden die door de hele carrousel gebruikt worden */
  /* kun je zelf aanpassen */
  --caroCarrouselMainColor: #FFFFFF;
  --caroCarrouselShadeColor: rgba(133, 129, 129, 0.6);

  position: relative;
  outline: none;
  width: 100vw;
}




/************************************/
/* de carrousel elementen container */
.caroCarrouselFixedWidthElements>ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  gap: 1em;
  padding: 1em;

  /* handmatig scrollen is mogelijk */
  overflow: hidden;

  /* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;

  /* smooth scrollen */
  scroll-behavior: smooth;

  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch;
  /* voor iOS*/
  -ms-overflow-style: none;
  /* voor IE */
  scrollbar-width: none;
  /* voor firefox */
}

.caroCarrouselFixedWidthElements>ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none;
  /* voor chrome, safari en edge*/
}


/**************************/
/* de carrousel elementen */
.caroCarrouselFixedWidthElements>ul li {
  flex-basis: 14em;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
  scroll-snap-align: center;
}
.caroCarrouselFixedWidthElements>ul li img:hover {
  opacity: 0.7;
}
/**********************************/
/* de carrousel elementen content */

/* de stijlen voor jouw content hier */
.caroCarrouselFixedWidthElements>ul li>img {
  display: block;
  width: 100%;
}


/****************/
/* DE BOLLETJES */
/****************/

/* de bolletjes container */
.caroCarrouselFixedWidthElements nav ul {
  left: 2em;
  right: 2em;
  bottom: 0;
  margin: 0;
  padding: 0 0 .5em;
  list-style: none;

  display: flex;
  /* 	flex-wrap:wrap; */
  justify-content: center;
  gap: .4em;
}

/* een bolletje container */
.caroCarrouselFixedWidthElements>nav li {
  flex-basis: 1.2em;
  aspect-ratio: 1/1;
}

/* de bolletjes */
.caroCarrouselFixedWidthElements>nav a {
  display: block;
  width: 50%;
  height: 50%;

  text-decoration: none;
  color: var(--caroCarrouselMainColor);
  background-color: var(--caroCarrouselShadeColor);
  border-radius: 50%;
  outline: none;


  transition: 0.5s;
}

.caroCarrouselFixedWidthElements>nav a:hover,
.caroCarrouselFixedWidthElements>nav a:focus {
  color: var(--caroCarrouselAccentColor);
}

.caroCarrouselFixedWidthElements>nav a.current {
  background-color: currentColor;
}

/* MEDIA */
@media (max-width:500px) {

  h2 {
    margin-left: 0.65em;
  }

  h2.ingewikkeldeStijling {
    margin: 1em;
  }

  .caroCarrousel>ul li>img {
    height: 100vw;
  }

  .caroCarrousel>ul li div {
    position: absolute;
    top: 12em;
    right: 0;
    left: 0;
  }

  .caroCarrousel>ul li div h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    background-color: var(--backgroundMediaCarrousel);
    font-size: 1.5em;
    margin-bottom: 0.35em;
    padding: 0.2em;
    width: 13em;
  }

  .caroCarrousel>ul li div p {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: var(--backgroundMediaCarrousel);
    margin-top: 0;
    padding: 0.2em;
    width: 16em;

  }

  article:nth-of-type(1) img {
    width: 100%;
  }

  article:nth-of-type(2) img {
    width: 100%;
  }


  section:nth-of-type(3) {
    flex-direction: column;
  }

  section:nth-of-type(4) {
    flex-direction: column;
    height: auto;
    padding: 1em;
  }

  section:nth-of-type(4) img {
    margin: 0;
    width: 100%;
  }

  section:nth-of-type(4) ul {
    height: 20em;
  }
}


@media (max-width:500px) {
  section:nth-of-type(5) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5em;
    padding: 1em;
  }

  section:nth-of-type(5) article img {
    width: 100%;
    margin: 0;

  }

}